/**
* Accordeon
*/
details {
    width: 100px;
        overflow: hidden;
        transition: width 2s;
    
        display: flex;
    /* fermé et ouvert */
}

details[open] {
    width: 300px;
    /* ouvert */
}

.accordeon>details>summary {
    list-style: none;
}

.accordeon>details>summary::marker,
.accordeon>details>summary::-webkit-details-marker {
    display: none;
}

.accordeon>details>summary::before {
    position: relative;
    content: "";
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left: 20px solid pink;
    top: 0;
    left: 280px;
    transition: transform 2s;
}
